<p id="notice"><%= notice %></p>
<div class="list-group">
  <div class="overflow-auto">
    <h1>Messages</h1>
    <% @messages&.each do |forum| %>
      <div class="forum-item">
          <%= link_to forum, class: "list-group-item list-group-item-action" do %>
            <div class="d-flex w-100 justify-content-between ">
              <h5 class="mb-1"><b><%= forum&.title %></b></h5>
              <small><b></b>posted on: <%= forum&.created_at&.to_date %></small>
            </div>
            <p class="mb-1"><%= forum&.body %></p>                   
          <% end %>
      </div>
    <% end %>
        <br>
  </div>
</div>
<%= link_to 'New Message', new_message_path %>

